<%= form_tag mailer_log_engine.admin_emails_path, method: :get, class: 'mb-3' do %>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label class="small text-muted">Recipient</label>
        <%= text_field_tag :recipient, params[:recipient], class: 'form-control form-control-sm', placeholder: 'Email address' %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label class="small text-muted">Sender</label>
        <%= text_field_tag :sender, params[:sender], class: 'form-control form-control-sm', placeholder: 'From address' %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label class="small text-muted">Subject</label>
        <%= text_field_tag :subject_search, params[:subject_search], class: 'form-control form-control-sm', placeholder: 'Subject contains...' %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label class="small text-muted">Mailer</label>
        <%= select_tag :mailer, options_for_select([['All', '']] + @mailers.map { |m| [m, m] }, params[:mailer]), class: 'form-control form-control-sm' %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label class="small text-muted">Status</label>
        <%= select_tag :status, options_for_select([['All', ''], ['Pending', 'pending'], ['Sent', 'sent'], ['Delivered', 'delivered'], ['Opened', 'opened'], ['Clicked', 'clicked'], ['Bounced', 'bounced'], ['Complained', 'complained']], params[:status]), class: 'form-control form-control-sm' %>
      </div>
    </div>
    <div class="col-md-2 d-flex align-items-end">
      <div class="form-group w-100">
        <%= submit_tag 'Filter', class: 'btn btn-primary btn-sm w-100' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label class="small text-muted">Date From</label>
        <%= date_field_tag :date_from, params[:date_from], class: 'form-control form-control-sm' %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label class="small text-muted">Date To</label>
        <%= date_field_tag :date_to, params[:date_to], class: 'form-control form-control-sm' %>
      </div>
    </div>
    <div class="col-md-2 d-flex align-items-end">
      <div class="form-group">
        <%= link_to 'Clear', mailer_log_engine.admin_emails_path, class: 'btn btn-outline-secondary btn-sm' %>
      </div>
    </div>
  </div>
<% end %>
