<% set_meta_tags title: ['Admin', 'Email Log'] %>

<div class="card card-border-color card-border-color-dark card-default card-table">
  <div class="card-header">
    <span class="title p-a-1">Email Log (<%= @emails.total_count %>)</span>
  </div>
  <div class="card-body">
    <%= render 'filters' %>

    <div class="table-responsive noSwipe">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Sent At</th>
            <th>Mailer</th>
            <th>To</th>
            <th>Subject</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @emails.each do |email| %>
            <%= render 'email', email: email %>
          <% end %>
        </tbody>
      </table>

      <% if @emails.empty? %>
        <div class="text-center text-muted py-4">
          No emails found
        </div>
      <% end %>

      <% # Use engine routes for pagination %>
      <div class="pagination-wrapper">
        <% if @emails.total_pages > 1 %>
          <nav aria-label="Pagination">
            <ul class="pagination justify-content-center">
              <% if @emails.first_page? %>
                <li class="page-item disabled"><span class="page-link">&laquo; First</span></li>
                <li class="page-item disabled"><span class="page-link">&lsaquo; Prev</span></li>
              <% else %>
                <li class="page-item"><%= link_to '&laquo; First'.html_safe, mailer_log_engine.admin_emails_path(page: 1, per: params[:per]), class: 'page-link' %></li>
                <li class="page-item"><%= link_to '&lsaquo; Prev'.html_safe, mailer_log_engine.admin_emails_path(page: @emails.prev_page, per: params[:per]), class: 'page-link' %></li>
              <% end %>
              <li class="page-item active"><span class="page-link">Page <%= @emails.current_page %> of <%= @emails.total_pages %></span></li>
              <% if @emails.last_page? %>
                <li class="page-item disabled"><span class="page-link">Next &rsaquo;</span></li>
                <li class="page-item disabled"><span class="page-link">Last &raquo;</span></li>
              <% else %>
                <li class="page-item"><%= link_to 'Next &rsaquo;'.html_safe, mailer_log_engine.admin_emails_path(page: @emails.next_page, per: params[:per]), class: 'page-link' %></li>
                <li class="page-item"><%= link_to 'Last &raquo;'.html_safe, mailer_log_engine.admin_emails_path(page: @emails.total_pages, per: params[:per]), class: 'page-link' %></li>
              <% end %>
            </ul>
          </nav>
        <% end %>
      </div>
    </div>
  </div>
</div>
